@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


body {
  background: "blue";
  color: "#333";
  font-family: "Nunito";
  margin: 0;
  padding: 0;

}

a {
  color: "#333";
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top : 60px;
  color: #777;
  border-top: 1px solid #eaeaea
}
